<div class="insidePage">
	<div class="insideContent">
		<div class="textContent">
			<div class="newsDate">24.07.2017</div>
			<div class="sometextTitle" id="zalog">Верховный суд отказал в передаче кассационной жалобы для рассмотрения в судебном заседании Судебной коллегии по экономическим спорам ВС Российской Федерации по прецедентному делу.</div>
				<div class="herosubtitle">Ранее сложный спор рассматривал </div>
					<div class="herotext">
						Судья Верховного Суда Российской Федерации Шилохвост О.Ю., изучив кассационную жалобу общества с ограниченной ответственностью «Антей» (ответчик) на решение Арбитражного суда Пензенской области от 21.11.2016 по делу № А49-13073/2015, дополнительное решение от 30.11.2016, постановление Одиннадцатого арбитражного апелляционного суда от 21.02.2017 и постановление Арбитражного суда Поволжского округа от 24.05.2017 по тому же делу
по иску фирмы J4 s.r.o. (Чешская Республика, далее - фирма) к обществу с ограниченной ответственностью «Антей» (г. Каменка Пензенской области, далее – общество «Антей»), обществу с ограниченной ответственностью «Кондитерская фабрика «Пенза» (г. Каменка Пензенской области, далее - фабрика) об обращении взыскания на заложенное имущество (с учетом уточнений иска),
при участии в деле в качестве третьего лица, заявляющего самостоятельные требования относительно предмета спора, публичного акционерного общества Продовольственная компания "Лимак" (г. Липецк, далее – общество «Лимак»),

					</div>
		
		
		</div>	
	</div>
</div>
