<div class="insidePage">
	<div class="insideContent">
		<div class="textContent">
			<div class="sometextTitle">О компании</div>
				<div class="herosubtitle">Национальное объединение АРБИРА - один из лидеров рынка по работе с дебиторской задолженностью юридических лиц в России. </div>
					<div class="herotext">АРБИРА является одним из лидеров по работе с дебиторской задолженностью юридических лиц в России.
Первая компания группы начала работу в 2006 г. Головной офис АРБИРА находится в Москве.

АРБИРА помогает юридическим лицам с проблемной дебиторской задолженностью. <br>
Приоритетными секторами являются предприятия предприятий коммунального хозяйства, транспорта, энергетического комплекса, организаций бюджетной сферы. 
					</div>
			

		
		</div>	
	</div>
</div>
