<div class="insidePage">
	<div class="insideContent">
		<div class="textContent">
			<div class="sometextTitle">Карьера в АРБИРА - идеальный вариант трудоустройства для молодых юристов</div>
				<div class="herosubtitle">Национальное объединение АРБИРА - один из лидеров рынка по работе с дебиторской задолженностью юридических лиц в России. </div>
					<div class="herotext">
  

Избыток юристов — следствие высокого спроса на профессию в конце 1990-х — начале 2000-х годов. Пытаясь удовлетворить спрос, практически каждый вуз открывал по юридическому факультету. По заявлениям экс-министра образования Андрея Фурсенко, если в начале 1990-х в стране было не больше 200 высших учебных заведений, выпускавших юристов, то сейчас таковых примерно 1350.

Однако работодатели, несмотря на все многообразие высших учебных заведений, стремятся нанять на работу выпускников всего нескольких вузов. Именно этим молодым юристам в первую очередь предлагают высокооплачиваемые вакансии в ведущих фирмах и всяческие преференции при отборе кандидатов.
					<br>
						<img src="/a/career.jpg" alt="">
					</div>
					
			<div class="sometextTitle">Преимущества для молодых специалистов</div>
				<div class="herosubtitle">АРБИРА работает в одной из самых интересных областей для юристов - сфере переуступки долга.</div>
					<div class="herotext">
						
<div class="herosubtitle">Преимущества для молодых специалистов: </div>

1. Исключительно квалифицированная юридическая работа.<br>
2. Опытные и главное успешные наставники, которые сформируют правильное представление о реальных способах решения юридических вопросов.<br>
3. Возможность приобрести ценный опыт в наиболее прибыльных отраслях юриспруденции: цессия, долговые споры, взыскание. <br>
4. Вы сможете ссылаться на факт Вашей работы в известной Российской компании.<br>
<div class="herosubtitle">Что мы предлагаем:</div>

Приятную атмосферу юридической работы, отличную от душных подвалов и закутков среднестатистических юридических фирм.
Замечательную команду профессионалов, у которых не только многому можно научиться, но у которых приятно учиться, получать советы и узнать новую информацию.
Идеально оборудованное рабочее место, в фешенебельном Бизнес-Центре класса А на Петроградской в 10 минутах от метро.
Молодой коллектив, с чувством юмора!
				</div>		
		
		</div>	
	</div>
</div>
