<div class="insidePage">
	<div class="insideContent">
		<div class="textContent">
			<div class="sometextTitle">Карьера в АРБИРА - идеальный вариант трудоустройства для молодых юристов</div>
				<div class="herosubtitle">Национальное объединение АРБИРА - один из лидеров рынка по работе с дебиторской задолженностью юридических лиц в России. </div>
					<div class="herotext">
  Ситуаций, когда должник отказывается, либо по каким-либо причинам не имеет возможность выплатить долг, в наше время встречаются очень часто.

Именно поэтому компетентные юристы, обладающие опытом работы с задолженностью всегда востребованы. 

Необходимо помнить, что при взыскании долгов не бывает однотипного алгоритма действий. 
Практически каждое новое взыскание уникально и требует тщательного подхода.<br>
						<a href="../debtlegal" class="btn btn-primary">
						<div class=" "></div>
						<div class="">Познакомьтесь  с судебной практикой на тему "Цессия"</div>
					</a>
<br>

<div class="herosubtitle">АРБИРА дает возможность получить необходимую компетенцию в сфере долгов юридических лиц.<br></div>
						<br>
						<img class="leftimage" src="/a/career.jpg" alt="">
			</div>
					
			<div class="sometextTitle">Преимущества для молодых специалистов</div>
				<div class="herosubtitle">АРБИРА работает в одной из самых интересных областей для юристов - сфере переуступки долга.</div>
					<div class="herotext">
						
<div class="herosubtitle">Преимущества юристов: </div><br>

1. Исключительно квалифицированная юридическая работа.<br>
2. Опытные и главное успешные наставники, которые сформируют правильное представление о реальных способах решения юридических вопросов.<br>
3. Возможность приобрести ценный опыт в наиболее прибыльных отраслях юриспруденции: цессия, долговые споры, взыскание. <br>
4. Вы сможете ссылаться на факт Вашей работы в известной Российской компании.<br>
<div class="herosubtitle">Что мы предлагаем для молодых специалистов:</div><br>

Для молодых специалистов стажировка в АРБИРА — 
это отличный способ начать карьеру уже на последнем этапе обучения, получить бесценный опыт работы на реальных проектах, 
понять специфику различных отраслей права. Кроме того, это возможность увидеть изнутри работу компании и собрать
уникальный материал для написания дипломной работы.<br>
	
						<img class="leftimage" src="/a/young.jpg" alt="">
						<br>

Мы ждем от наших стажеров максимальной отдачи во время стажировки. 
Самые успешные получат предложение продолжить карьеру у нас на позиции младшего юриста после получения долгожданного диплома.
<br>
					<a href="mailto:info@arbira.ru" class="btn btn-primary">
						<div class=" "></div>
						<div class="">Направить резюме</div>
					</a>
						
				</div>		
		
		</div>	
	</div>
</div>
