<div class="insidePage">
	<div class="insideContent">
		<div class="textContent">
			<div class="sometextTitle">Национальное объединение АРБИРА - один из лидеров по работе с задолженностью юридических лиц.</div>
				<div class="herosubtitle">АРБИРА работает с дебиторской задолженностью с 2006 г. </div>
					<div class="herotext">
  АРБИРА фокусируется на следующих областях:<br>
	- жилищно-коммунальные компании <br>
	- коммерческие банки, микрофинансовые организации <br>
	- операторы связи <br>
	- компании малого и среднего бизнеса <br>

Работая с 2006 г Национальное объединение АРБИРА накопило уникальный опыт в сфере работы с долгами юридических лиц. 
<br>
					
<br>

<div class="herosubtitle">АРБИРА дает возможность компаниям сфокусироваться на основном бизнесе, взяв на себя работу с проблемной задолженностью.<br></div>
						<br>
						<img src="/a/career.jpg" alt="">
			</div>
					
			<div class="sometextTitle">Преимущества компаний ЖКХ и компаний малого и среднего бизнеса</div>
				<div class="herosubtitle">АРБИРА уделяет особое внимание компаниям ЖКХ и компаниями среднего и малого бизнеса. </div>
					<div class="herotext">
						


У компаний ЖКХ и компаний малого и среднего бизнеса зачастую остуствуют ресурсы для качественного взыскания и судебной работы. <br>
						
Кроме того, компании малого и среднего бизнеса зачастую не хотят "ссориться" с клиентами, которые задерживают платежи. <br>

<div class="herosubtitle">Все эти проблемы будут решены при переуступке долга АРБИРА</div><br>


<br>
					<a href="mailto:request@arbira.ru" class="btn btn-primary">
						<div class=" "></div>
						<div class="">Направить запрос</div>
					</a>
						
				</div>		
		
		</div>	
	</div>
</div>
