<div class="insidePage">
	<div class="insideContent">
		<div class="textContent">
			<div class="sometextTitle">Контактная информация</div>
				<div class="herobigsubtitle">Центральный офис:</div>
					<div class="herosubtitle">Москва, ул. Радио, 12, стр. 2 <br>
						
					</div>
			<img class="leftimage" src="../a/map.jpg" >
			<br>
					<a href="mailto:info@arbira.ru" class="btn btn-primary">
						<div class=" "></div>
						<div class="">Написать письмо</div>
					</a>
			
		</div>	
	</div>
</div>
