
<div id="footer">
	<div id="gtm_privacy">
	</div>
	<div id="footer-support">
		<div class="container">
			<h4 class="font-primary-bold">
				<div class="support-full">Нужна помощь c дебиторской задолженностью?&nbsp;
Свяжитесь с нами<span id="footer-support-phone">+7 499 261-39-43</span>
				</div>
				</h4>
		</div>
	</div>
</div>
<div class="footerOuter">
			<div class="footerInner">
					<div class="copyright">АРБИРА, 2017. Все права зарегистрированы. <a href="/legal" style="margin-left:175px;">Правовая информация</a> <a href="/contacts" target="_blank" style="float:right;">Контакты</a></div>
    </div>
</div>

<!-- here -->
<div class="container">
        <div class="row">
            <div class="col-xs-3">
                <ul class="list-unstyled">
                    <li tabindex="0" ng-reflect-router-link="/about" ng-reflect-router-link-active="active">
                        <a>О проекте</a>
                    </li>

                    <li>
                        <a ng-reflect-router-link="/help" href="/help">Помощь</a>
                    </li>
                    <li>
                        <a href="http://forum-fedresurs.interfax.ru">Форум <span class="hide-text">федеральных</span> реестров</a>
                    </li>
                    <li>
                        <a href="http://kad.arbitr.ru">Картотека арбитражных дел</a>
                    </li>
                    <li>
                        <a href="http://www.cdep.ru/">Судебный департамент</a>
                    </li>
                </ul>
                <p>© Интерфакс, 2012-2017</p>
                <p>Дизайн – Мотка.ру</p>
            </div>
            <div class="col-xs-3">
                <ul class="list-unstyled">
                    <li>
                        <a><i class="ico key_w_ico"></i><span class="hide-text">Войти в </span>личный кабинет</a>
                    </li>
                </ul>
                <p class="lk">Авторизация пользователя системы производится с помощью сертификата ключа проверки электронной подписи, выданным авторизованным удостоверяющим центром, или логин и пароль.</p>
            </div>
            <div class="col-xs-3">
                <section class="support_block">
                    <a class="mailbox" href="mailto:bhelp@interfax.ru"><i class="ico mail_ico"></i>bhelp@interfax.ru</a>
                    <p class="phone">
                        <i class="ico phone_ico"></i>
                        <span>+7 (495) 989-73-68</span>
                        <span>+7 (800) 555-02-24</span>
                    </p>
                    <p class="service">
                        Время работы:<br>с 7 до 21 часов, пн-пт
                    </p>
                </section>
            </div>
            <div class="col-xs-3">
                <a href="http://economy.gov.ru/minec/main/">
                    <div class="media">
                        <div class="media-left">
                            <img src="img/merr.png">
                        </div>
                        <div class="media-body">
                            <p>Министерство экономического развития Российской Федерации</p>
                            <p class="abbr">Минэкономразвития России</p>
                        </div>
                    </div>
                </a>
                <a href="https://www.nalog.ru/rn77/">
                    <div class="media">
                        <div class="media-left">
                            <img src="img/fns.png">
                        </div>
                        <div class="media-body">
                            <p>Федеральная налоговая служба</p>
                            <p class="abbr">ФНС России</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        
        <div class="row personal-data">
            <a href="http://group.interfax.ru/ftproot/files/politika.pdf">Политика ЗАО "Интерфакс" в отношении обработки и защиты персональных данных</a>
        </div>
    </div>
