	<div id="headerInner">
	  <div class="header">
        <div class="logo">
          <a href="../index.html"><img src="../a/logo.jpg"></a>
        </div>
        <div style="clear:both"></div>
        <div id="contData">
          <p class="greennumber">8 499 261-39-43</p>
          <p id="mail">mail@arbira.ru</p>
        </div>
        <div id="help">
          <p style="margin-top: -4px;">Линия для жалоб и предложений</p>
          <p style="font-size: 11px; margin-top: -10px; height: 18px;">(c 08:00 до 19:00 по будням)</p>						
          <p>Звонки бесплатно по России</p>
        </div>
      </div>
    </div>
