	<div id="headerInner">
	  <div class="header">
        <div class="logo">
          <a href="../index.html"><img src="../a/logo.jpg"></a>
        </div>
        <div style="clear:both"></div>
        <div id="contData">
	  <p class="greennumber">8 499 993-37-55</p>
          <p class="greennumber">8 499 261-39-43</p>
          <p id="mail">info@arbira.ru</p>
        </div>
        <div id="help">
          <p style="margin-top: -4px;">Покупка дебиторской задолженности</p>
          <p style="font-size: 11px; margin-top: -10px; height: 18px;">юридических лиц</p>						
          <p>от 300 000 рублей</p>
        </div>
      </div>
    </div>
