<div class="insidePage">
	<div class="insideContent">
		<div class="textContent">



			<!--            Контент                     -->
		<div class="header1">Покупка долгов от 300 000 рублей</div>
		<p>Компания «М.Б.А. Финансы» плодотворно сотрудничает со всеми банками-лидерами сегмента потребительского кредитования в России. </p>
		<p>По итогам 2014 года компания «М.Б.А. Финансы» вошла в ТОП-3 коллекторских компаний в России по объемам взысканий в пользу клиентов. Благодаря уникальному для отечественного рынка проектному подходу к обслуживанию клиентов «М.Б.А. Финансы» стала лидером по эффективности взыскания.</p>
		<p>Среди клиентов Группы &mdash; крупнейшие представители банковской и телекоммуникационной отраслей, ведущие микрофинансовые организации, коллекторские агентства и инвестиционные фонды:</p>
		<p>
			<table style="border-spacing: 20px">
				<tr>
					<td><img src="../images/logos/logo19.jpg" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo6.jpg" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo20.jpg" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo21.jpg" alt="logo" width="170"/></td>
				</tr>
				<tr>
					<td><img src="../images/logos/logo22.jpg" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo23.jpg" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo24.jpg" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo25.jpg" alt="logo" width="170"/></td>
				</tr>				
				<tr>
					<td><img src="../images/logos/logo1.jpg" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo2.jpg" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo3.jpg" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo4.jpg" alt="logo" width="170"/></td>
				</tr>
				<tr>
					<td><img src="../images/logos/logo5.png" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo26.jpg" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo7.png" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo8.png" alt="logo" width="135"/></td>
				</tr>
				<tr>
					<td><img src="../images/logos/logo9.jpg" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo10.jpg" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo12.jpg" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo13.jpg" alt="logo" width="170"/></td>
				</tr>
				<tr>
					<td><img src="../images/logos/logo14.jpg" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo15.jpg" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo16.png" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo17.png" alt="logo" width="170"/></td>
				</tr>
				<tr>
					<td><img src="../images/logos/logo36.jpg" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo27.jpg" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo28.jpg" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo29.jpg" alt="logo" width="170"/></td>
				</tr>
				<tr>
					<td><img src="../images/logos/logo30.jpg" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo31.jpg" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo32.jpg" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo33.jpg" alt="logo" width="145"/></td>
				</tr>
				<tr>
					<td><img src="../images/logos/logo34.jpg" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo35.jpg" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo18.png" alt="logo" width="75"/></td>
				</tr>
			</table>
		</p>



		</div>
			<div class="rightInfo_inside">
				<a href="../ethicscode/index.html" class="rightBtnsInside">Кодекс этики</a>
				<a href="../feedback/index.html" class="rightBtnsInside">Обратная связь</a>
				<!--<a href="/letter/"><img src="/images/banner1.png" alt="" /></a>-->
				<a href="../pages/careers/index.html"><img src="../images/banner2.png" alt="" /></a>
			</div>
		</div>
	</div>
</div>
