<div class="insidePage">
	<div class="insideContent">
		<div class="textContent">
			<div class="sometextTitle">Особое отношение к вашей дебиторской задолженности</div>
				<div class="herosubtitle">Компания «М.Б.А. Финансы» плодотворно сотрудничает со всеми банками-лидерами сегмента потребительского кредитования в России. </div>
					<div class="herotext">По итогам 2014 года компания «М.Б.А. Финансы» вошла в ТОП-3 коллекторских компаний в России по объемам взысканий в пользу клиентов. Благодаря уникальному для отечественного рынка 
						проектному подходу к обслуживанию клиентов «М.Б.А. Финансы» стала лидером по эффективности взыскания.
					</div>
					
			<div class="sometextTitle">Покупка долгов юридических лиц <br> от 300 000 рублей</div>
				<div class="herosubtitle">Компания «М.Б.А. Финансы» плодотворно сотрудничает со всеми банками-лидерами сегмента потребительского кредитования в России. </div>
					<div class="herotext">По итогам 2014 года компания «М.Б.А. Финансы» вошла в ТОП-3 коллекторских компаний в России по объемам взысканий в пользу клиентов. Благодаря уникальному для отечественного рынка 
						проектному подходу к обслуживанию клиентов «М.Б.А. Финансы» стала лидером по эффективности взыскания.
					</div>
					
		
		</div>	
	</div>
</div>
