<table style="border-spacing: 20px">
				<tr>
					<td><img src="../a/svyaznoi.gif" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo102.png" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo103.png" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo104.jpg" alt="logo" width="170"/></td>
				</tr>
				<tr>
					<td><img src="../images/logos/logo6.jpg" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo106.png" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo20.jpg" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo21.jpg" alt="logo" width="170"/></td>
				</tr>
				<tr>
					<td><img src="../images/logos/logo20.jpg" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo107.png" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo24.jpg" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo25.jpg" alt="logo" width="170"/></td>
				</tr>				
				<tr>
					<td><img src="../images/logos/logo1.jpg" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo108.png" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo3.jpg" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo2.jpg" alt="logo" width="170"/></td>
				</tr>
				<tr>
					<td><img src="../images/logos/logo5.png" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo109.png" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo7.png" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo26.jpg" alt="logo" width="135"/></td>
				</tr>
				<tr>
					<td><img src="../images/logos/logo9.jpg" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo110.jpg" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo12.jpg" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo13.jpg" alt="logo" width="170"/></td>
				</tr>
				<tr>
					<td><img src="../images/logos/logo14.jpg" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo15.jpg" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo16.png" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo17.png" alt="logo" width="170"/></td>
				</tr>
				<tr>
					<td><img src="../images/logos/logo36.jpg" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo27.jpg" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo28.jpg" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo29.jpg" alt="logo" width="170"/></td>
				</tr>
				<tr>
					<td><img src="../images/logos/logo30.jpg" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo101.png" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo32.jpg" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo33.jpg" alt="logo" width="145"/></td>
				</tr>
	
			</table>
