<div class="insideContent">
		<div class="textContent">
		<h1>Покупка долгов юридических лиц от 300 тыс рублей</h1>
<h3>Компания «М.Б.А. Финансы» предоставляет услуги премиального качества по взысканию просроченной задолженности граждан перед банками и телоекоммуникационными компаниями, работая по агентскому соглашению.</h3>
		<p>Сегодня компания плодотворно сотрудничает со всеми банками-лидерами сегмента потребительского кредитования в России. Среди клиентов компании – крупнейшие представители банковской и телекоммуникационной отраслей.</p>
		<p>По итогам 2014 года компания «М.Б.А. Финансы» вошла в ТОП-3 коллекторских компаний в России по объемам взысканий в пользу клиентов. Благодаря:</p>
		<p>
			<ul style="list-style-type:disc;margin-left:10px;">
				<li>индивидуальному проектному подходу к каждому клиенту,</li>
				<li>международной экспертизе и доступу к зарубежным технологиям,</li>
				<li>накопленному за 18 лет группой M.B.A. EMPIRE опыту работы в индустрии взыскания в странах Европы, СНГ и Азиатского региона</li>
			</ul>
		</p>
		<p>компания демонстрирует стабильно высокие показатели эффективности взыскания на досудебном этапе, уже несколько лет занимая в России лидирующие позиции в рейтингах (составляются по результатам работы коллекторских агентств банками-лидерами в сегменте беззалогового кредитования физлиц).</p>
		<p>Компания «М.Б.А. Финансы» – сервисная компания. Мы оказываем услуги премиального качества нашим клиентам.  </p>
		<p>За время работы с десятками клиентов, обладающими различными бизнес-моделями, мы научились лучше слышать, понимать клиентов и настраивать свою работу в точном соответствии с нуждами каждого конкретного клиента.</p>
		<p>Для максимальной имплементации данной философии на практике мы провели масштабные изменения в структуре работы над проектами, по выстраиванию индивидуальных стратегий обработки клиентских портфелей, индивидуальных схем мотивации сотрудников на каждом проекте, над качеством управления проектами и над контролем качества нашей работы.</p>


		</div>
</div>

