<div class="insidePage">
	<div class="insideContent">
		<div class="textContent">
			<div class="sometextTitle">Другие компании группы</div>
				<div class="herobigsubtitle">Грифон</div>
					<div class="herotext">Правовая защита автовладельцев. <br>
						Помощь автовладельцам в спорах при невыплатах по ОСАГО, КАСКО со страховыми компаниями, 
						в спорах по договорам лизинга, а так же при возврате транспортного средства ненадлежащего качества. 
					</div>
			<img class="leftimage" src="../a/grifon.jpg" >
			<br>
					<a href="http://lc-grifon.ru/" class="btn btn-primary">
						<div class=" "></div>
						<div class="">Дополнительная информация</div>
					</a>
			<div class="herobigsubtitle">Центр защиты бизнеса</div>
					<div class="herotext">Правовая защита бизнеса. <br>
						
					</div>
			<img class="leftimage" src="../a/fcp24.jpg" >
			<br>
					<a href="http://fcp24.ru/" class="btn btn-primary">
						<div class=" "></div>
						<div class="">Дополнительная информация</div>
					</a>
		
		
			<div class="herobigsubtitle">ЦЕНТР ЗАЩИТЫ АВТОСТРАХОВАТЕЛЕЙ</div>
					<div class="herotext">Правовая защита автовладельцев. <br>
						</div>
			<img class="leftimage" src="../a/urist-avtostrah.jpg" >
			<br>
					<a href="http://urist-avtostrah.ru/" class="btn btn-primary">
						<div class=" "></div>
						<div class="">Дополнительная информация</div>
					</a>
		</div>	
	</div>
</div>
