<div class="insidePage">
	<div class="insideContent">
		<div class="textContent">
			<div class="sometextTitle">Партнерство с АРБИРА</div>
				<div class="herosubtitle">Партнерство с Национальным объединением АРБИРА - быстрый и удобный способ начать юридический бизнес</div>
					<div class="herotext">
  АРБИРА предлагает юристам, желающим начать бизнес в сфере взыскания задолженности и покупки долгов: <br>

						<br>
1. Ведение бизнеса в партнерстве компанией, успешно работающей на рынке с 2006 года.<br>
2. Использование готовых и проверенных бизнес процессов.<br>
3. Комиссию от объема выкупленного и взысканного долга. <br>
<br>
Партнерам предоставляется:<br>
- консультирование всем аспектам ведения бизнеса. Консультации проводят ведущие юристы компании АРБИРА.
				В процессе консультирования Вы узнаете, как устроен бизнес по работе с дебиторской задолженностью, 
						все нюансы процесса по работе с задолженностью.<br>
- возможность посещения одного из наших офисов с целью практического ознакомления с бизнесом;<br>

- комплект типовых форм договоров и других документов для работы с клиентами;<br>

- постоянная поддержка в процессе работы, помощь в решении сложных вопросов, которые могут возникнуть в процессе ведения бизнеса 
						и оказания услуг клиентам.<br> </div>
<div class="sometextTitle">Дополнительный заработок для успешных специалистов исполнительного производства, взысканию долгов</div>
				<div class="herosubtitle">Мы развиваем сеть представителей в регионах.</div>
					<div class="herotext"> АРБИРА развивает сеть представителей в регионах. Нам интересно сотрудничество
						с юристами и бывшими судебными приставами-исполнителями, имеющими практику представления интересов взыскателей в исполнительном производстве. Мы ищем эффективных, настойчивых партнеров на выгодных условиях.
  </div>
<div class="herosubtitle">АРБИРА предлагает особые условия юристам со своим портфелем задолженности.</div> 

					<a href="mailto:request@arbira.ru" class="btn btn-primary">
    <div class=" "></div>
    <div class="">Запросить дополнительную информацию</div>
  </a>
					</div>
					

					
		
		</div>	
	</div>
</div>
