<div class="insidePage">
	<div class="insideContent">
		<div class="textContent">
			<div class="sometextTitle">АРБИРА работает с долгами юридических лиц с 2006 г. </div>
				<div class="herosubtitle">Национальное объединение АРБИРА - один из лидеров рынка по работе с дебиторской задолженностью юридических лиц в России. </div>
					<div class="herotext">
 Арбира работает с долгами от 300 000 рублей. Мы работаем с долгами на разных этапах (включая досудебный).<br>
						
						<a href="../debtlegal" class="btn btn-primary">
						<div class=" "></div>
						<div class="">Познакомьтесь  с судебной практикой на тему "Цессия"</div>
					</a>
<br>

<div class="herosubtitle">АРБИРА дает возможность получить необходимую компетенцию в сфере долгов юридических лиц.<br></div>
						<br>
						<img src="/a/career.jpg" alt="">
			</div>
					
			
<br>
					<a href="mailto:request@arbira.ru" class="btn btn-primary">
						<div class=" "></div>
						<div class="">Направить запрос</div>
					</a>
						
				
		
		</div>	
	</div>
</div>
